<?xml version="1.0"?>

<model>
    <name>My Gripper</name>
    <version>1.0</version>
    <sdf version='1.4'>gripper.sdf</sdf>

    <author>
        <name>Hancheol Choi</name>
        <email>babchol@gmail.com</email>
    </author>

    <description>
        Simple Gripper    
    </description>
</model>