<?xml version="1.0"?>
<model>
  <name>Mobile Base 2</name>
  <version>1.0</version>
  <sdf version='1.4'>mobile_base.sdf</sdf>

  <author>
   <name>Hancheol Choi</name>
   <email>babchol@gmail.com</email>
  </author>

  <description>
    Mobile base 2, bigger than simple one.
  </description>
</model>