<?xml version="1.0" ?>
<model>
    <name>Simple Car</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Hancheol Choi</name>
        <email>babchol@gmail.com</email>
    </author>
    <description>Simple Car made using model editor</description>
</model>
